
<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>3:00pm</td>  <td>Welcome and Introduction to R/RStudio</td> </tr>
      <tr> <td>4:00pm</td>  <td>Break</td> </tr>
      <tr> <td>4:10pm</td>  <td>Data Structures</td> </tr>
      <tr> <td>4:50pm</td>  <td>Exploring Data Frames</td> </tr> 
      <tr> <td>5:30pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>3:00pm</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>3:50pm</td>  <td>Control Flow, pt. 1</td> </tr>
      <tr> <td>4:20pm</td>  <td>Break</td> </tr>
      <tr> <td>4:30pm</td>  <td>Control Flow, pt. 2</td> </tr>
      <tr> <td>5:00pm</td>  <td>Vectorization</td> </tr>
      <tr> <td>5:30pm</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>3:00pm</td>  <td>Data Frame Manipulation with <i>dplyr</i></td> </tr>
      <tr> <td>3:45pm</td>  <td>Creating Publication-Quality Graphics with <i>ggplot2</i></td> </tr>
      <tr> <td>4:40pm</td>  <td>Break</td> </tr>
      <tr> <td>4:50pm</td>  <td>Data Frame Manipulation with <i>tidyr</i></td> </tr>
      <tr> <td>3:55pm</td>  <td>Wrap-up and End</td> </tr>
    </table>
  </div>
</div>
